@font-face {
  font-family: Oswald;
  src: url(./../fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: SVN-Avo;
  src: url(./../fonts/UTM Avo.ttf);
}
@font-face {
  font-family: SVN-Poppins;
  src: url(./../fonts/SVN-Poppins-Bold.ttf);
}
@font-face {
  font-family: SVN-Poppinsmedium;
  src: url(./../fonts/SVN-Poppins-Medium.ttf);
}
@font-face {
  font-family: SVN-Poppinsregular;
  src: url(./../fonts/SVN-Poppins-Regular.ttf);
}
@font-face {
  font-family: SVN-Poppinslight;
  src: url(./../fonts/SVN-Poppins-Light.ttf);
}

@font-face {
  font-family: SVN-Kelson Sans;
  src: url(./../fonts/SVN-Kelson-Sans-Regular.otf);
}
@font-face {
  font-family: SVN-Kelsonlight;
  src: url(./../fonts/SVN-Kelson-Sans-Light.otf);
}
@font-face {
  font-family: SVN-Kelsonbold;
  src: url(./../fonts/SVN-Kelson-Sans-Bold.otf);
}

@font-face {
  font-family: MTD-Simpletune;
  src: url(./../fonts/MTD-Simpletune.otf);
}
@font-face {
  font-family: 'MTD Mirosa';
  src: url(./../fonts/MTDMirosa.otf);
}
@font-face {
  font-family: 'UTM Davida';
  src: url(./../fonts/UTMDavida.ttf);
}
@font-face {
  font-family: 'UTM Colossalis';
  src: url(./../fonts/UTMColossalis.ttf);
}
@font-face {
  font-family: 'UTM Impact';
  src: url(./../fonts/UTMImpact.ttf);
}

@media screen and (min-width: 993px) {
  .close_main_menu , .form_search_mobi {
    display: none;
  }
}

/* 1440 */
@media screen and (max-width: 1490px) and (min-width: 1401px) {
  .section_header .header_fixed .logo {
    margin-left: 140px;
  }
  .section_banner_slider .item {
    height: 400px;
  }
  .diamond-grid-page .grid {
    grid-template: 130px 130px 130px 130px 130px /130px 130px 130px 130px 130px; 
  }
}

/* 1366 */
@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .section_header .header_fixed .logo {
    margin-left: 100px;
  }
  .section_banner_slider .item {
    height: 400px;
  }
  .diamond-grid-page .grid {
    grid-template: 130px 130px 130px 130px 130px /130px 130px 130px 130px 130px; 
  }
}


/* 1024 */
@media screen and (max-width: 1200px)  and (min-width: 993px) {
  .section_header .header_fixed .logo {
    margin-left: 30px;
  }
  .section_header .header_fixed .icon_menu {
    margin-right: 30px;
  }
  .element_main_menu {
    width: 75%;
  }
  .onepage-pagination {
    right: 40px;
  }
  .diamond-grid-page .grid {
    grid-template: 120px 120px 120px 120px 120px /120px 120px 120px 120px 120px; 
  }
  .element_sumenh {
    height: auto;
    padding-top: 150px;
  }
  .title_blue , .title_default {
    font-size: 30px;
  }
  .element_sumenh .img_sumenh {
    width: 38%;
  }
}


/* 768 375 */
@media screen and (max-width: 992px) {
  body, html {
    overflow: inherit;
  }
  .form_search_mobi {
    display: block;
    width: calc(100% - 140px);
    overflow: hidden;
    border: 1px solid #0b419a;
    padding: 7px 0;
    border-radius: 35px;
  }
  .section_header.section_header_open .form_search_mobi {
    background: #fff;
    border: 1px solid #fff;
  }
  .element_main_menu .main_menu .li_search .submenu .search_header {
    height: 40px;
    width: 100%;
    position: relative;
  }
  .form_search_mobi input {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    border: none;
  }
  .form_search_mobi .search_header {
    width: 100%;
    position: relative;
  }
  .form_search_mobi input:focus {
    outline: 0;
  }
  .form_search_mobi input:focus::placeholder {
    color: transparent;
  }
  .form_search_mobi input::placeholder {
    color: #0b419a;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .form_search_mobi .btn_search {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
  }
  .form_search_mobi .btn_search img {
    background: #0b419a;
    padding: 10px;
  }
  .section_header .header_fixed .icon_menu span {
    margin: 0 0 5px 0;
  }
  .section_header {
    background: #fff;
    position: inherit;
  }
  .section_header.section_header_fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #0b419a;
  }
  .close_main_menu {
    display: block;
    background: #fff;
    width: 100%;
    height: 48px;
    text-align: center;
    line-height: 47px;
    margin: 2px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #00113D;
    margin-top: 10px !important;
  }
  .close_main_menu span img {
    margin-right: 10px;
  }
  .section_header .header_fixed .logo {
    margin-left: 15px;
    width: 50px;
  }
  .section_header .header_fixed .icon_menu {
    margin-right: 15px;
    width: 30px;
  }
  .section_header .header_fixed .icon_menu p {
    font-size: 10px;
  }
  /*.section_header.section_header_open {
    padding: 15px 0;
  }*/
  .section_header .element_main_menu {
    top: 64px;
    position: fixed;
    width: 100%;
    background: #0b419a;
    overflow: hidden;
    padding: 15px;
    display: none;
    border-top: 1px solid #ffffff50;
    height: 100vh;
  }
  .element_main_menu .main_menu > li.li_search {
    display: none;
  }
  .section_header.section_header_open .element_main_menu {
    display: block;
  }
  .element_main_menu .main_menu > li {
    width: 100%;
    padding: 15px;
    background: #00296c;
    border-bottom: 1px solid #0b419a;
  }
  .element_main_menu .main_menu > li.sub_li {
    position: relative;
  }
  .element_main_menu .main_menu > li.sub_li.active .submenu {
    display: block !important;
  }
  .element_main_menu .main_menu > li.sub_li:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    right: 15px;
    top: 24px;
  }
  .element_main_menu .main_menu > li.active.sub_li:before {
    transform: rotate(135deg);
  }
  .element_main_menu .main_menu > li .submenu {
    width: 100%;
    padding: 0px;
    position: inherit;
    background: #0b419a;
    bottom: -5px;
    left: 0;
    visibility: visible;
    z-index: 1;
    transition: 0.3s;
    opacity: 1;
    display: none;
  }
  .element_main_menu .main_menu > li .submenu .submenu_main li {
    padding: 10px 0;
    border-bottom: 1px solid #00296c;
    width: 100%;
    height: 45px;
  }
  .element_main_menu .main_menu > li .submenu .submenu_main li a {
    color: #fff;
    padding-left: 15px;
    display: block;
    line-height: 20px;
  }
  .onepage-pagination {
    right: 5px;
  }
  .icon_allpage {
    right: 5px;
    bottom: 5px;
  }
  .section_banner_slider .item {
    height: 200px;
  }
  .section_banner_slider .item .content h2 {
    font-size: 36px;
  }
  .section_banner_slider .item .content {
    width: 85%;
  }
  .section_banner_slider .item .content p {
    font-size: 21px;
  }
  .section_banner_slider .item .btn_hotline {
    font-size: 14px;
    right: 30%;
    line-height: 20px;
  }
  .section_banner_slider .item .btn_hotline img {
    width: 15px;
  }
  .section_banner_slider {
    height: auto;
  }
  .container_default {
    width: 100%;
  }
  .title_default span img {
    width: 60px;
    height: 40px;
  }
  .title_default {
    font-size: 18px;
  }
  .title_default span {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section_default .container_default .row {
    width: auto;
    padding: 0 30px;
  }
  .element_text {
    width: 100%;
    height: 164px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .element_text .text strong {
    font-size: 14px;
    width: 35px;
  }
  .element_text .text span {
    font-size: 36px;
    width: 50px;
  }
  .element_text .text p {
    width: calc(100% - 95px);
    font-size: 14px;
  }
  .element_text .text {
    padding: 0;
  }
  .section_default .container_default .element_tamnhin {
    padding: 70px 0 50px 0;
  }
  .diamond-grid-page .grid {
    grid-template: 100px 100px 100px 100px 100px /100px 100px 100px 100px 100px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .diamond-grid-page {
    margin: 0;
  }
  .element_sumenh .content_sumenh , .element_sumenh .img_sumenh {
    width: 100%;
  }
  .element_sumenh .content_sumenh .title_blue {
    margin-top: 80px;
  }
  .title_blue span img {
    width: 60px;
    height: 40px;
  }
  .title_blue span {
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .element_giatricotloi .title_default {
    font-size: 16px;
  }
  .element_giatricotloi .title_default img:first-child {
    margin-right: 10px;
  }
  .element_giatricotloi .title_default img:last-child {
    margin-left: 10px;
  }
  .element_giatricotloi {
    padding-top: 70px;
  }
  .element_giatricotloi_content .item {
    width: 50%;
    margin-left: 0;
  }
  .element_giatricotloi_content .item .img {
    width: 70px;
    height: 70px;
  }
  .element_giatricotloi_content .item .img img {
    max-width: 50%;
  }
  .element_giatricotloi_content .item .content {
    margin-top: 30px;
  }
  .element_giatricotloi_content .item .content h2 , .element_giatricotloi_content .item .content p {
    font-size: 14px;
  }
  .element_giatricotloi_content {
    margin-top: 30px;
  }
  .slider_banner_footer .img {
    height: 350px !important;
  }
  .element_footer .footer_item {
    width: 100%;
    padding: 0 15px;
    /*border-bottom: 1px solid #fff;*/
  }
  .element_footer .footer_item h3, .element_footer .footer_item h4 {
    font-size: 14px;
    margin: 0;
  }
  .element_footer .footer_item p {
    font-size: 12px;
  }
  .copyrighter p {
    font-size: 12px;
  }
  .element_footer:before {
    display: none !important;
  }
  .element_footer {
    background: #17376b;
  }
  
  .copyrighter {
    margin-top: 10px;
  }
  .element_footer .footer_item img {
    margin-top: 0;
  }
  .element_footer .footer_item:nth-child(3) .btn_download_footer img {
    display: block !important;
  }
}

/* 768 */
@media screen and (max-width: 992px) and (min-width: 571px) {
  .element_sumenh .content_sumenh .item {
    width: 100%;
  }
  .element_sumenh .content_sumenh .item p {
    font-size: 16px;
  }
  .element_sumenh .img_sumenh {
    margin-top: 50px;
  }
  .element_text {
    width: calc(100% - 60px);
    height: 165px;
    margin-left: 15px;
  }
  .element_sumenh .content_sumenh .item {
    width: calc(100% - 60px);
    height: 115px;
    margin-left: 15px;
  }

  .element_sumenh .content_sumenh .item p {
    font-size: 16px;
  }
  body, html {
    overflow: inherit;
  }
  .section_header {
    position: inherit;
    background: #0b419a;
  }
  .section_header.section_header_open .element_main_menu {
    z-index: 1000;
  }
  .section_header.section_header_fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #0b419a;
  }
  .section_header .form_search_mobi {
    background: #fff;
    border: 1px solid #fff;
  }
  .section_header .header_fixed .logo img {
    display: none;
  }
  .section_header .header_fixed .logo .img_logo {
    display: block;
  }
  .section_header .header_fixed .icon_menu p {
    color: #fff;
  }
  .section_header .header_fixed .icon_menu span {
    background: #fff;
  }
  .section_banner_slider .item .btn_hotline {
    right: 39%;
  }
  .slider_news .col-md-4 {
  }
  .slider_news:hover .slick-prev {
    left: 0;
  }
  .section_default .container_default .element_tamnhin {
    padding: 15px 0;
  }
  .title_default {
    margin: 0;
    text-align: center;
    overflow: hidden;
  }
  .title_default span {
    display: inherit;
  }
  .element_text {
    margin-top: 10px;
  }
  .section_default {
    height: auto;
    padding: 0;
  }
  .element_tamnhin {
    position: relative;    
  }
  .element_tamnhin:before {
    position: absolute;
    content: url(./../img/tamnhin.png);
    background-size: cover;
    top: 0;
    z-index: -1;
  }
  .section_default .container_default {
    position: inherit;
    top: auto;
    left: auto;
    height: auto;
    transform: inherit;
    overflow: hidden;
  }
  .section_default > img {
    display: none;
  }
  .section_default .container_default .row {
    padding: 0;
  }
  .element_sumenh .content_sumenh .title_blue {
    margin: 0;
  }
  .title_blue span {
    display: inherit;
    text-align: center;
  }
  .element_sumenh .img_sumenh {
    margin-top: 30px;
    width: calc(100% - 60px);
    margin-left: 30px;
  }
  .element_sumenh .img_sumenh .img {
    width: 90%;
  }
  .element_sumenh .img_sumenh .img:after {
    width: 30px;
    height: 30px;
    left: -15px;
    bottom: -15px;
  }
  .element_giatricotloi .title_default {
    margin-left: 0;
  }
  .element_giatricotloi {
    padding-top: 20px;
    position: relative;
  }
  .element_giatricotloi:before {
    position: absolute;
    content: url(./../img/gtcl.png);
    background-size: cover;
    z-index: -1;
    bottom: 0;
    left: 0;
  }
  .element_giatricotloi_content .item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;
  }
  .element_giatricotloi_content .item .content {
    width: calc(100% - 140px);
    margin-top: 0;
    padding-right: 30px;
  }
  .element_giatricotloi_content .item .content h2, .element_giatricotloi_content .item .content p {
    text-align: left;
    padding: 0;
  }
  .element_giatricotloi_content .item .img {
    margin-left: 15px;
  }
  .element_giatricotloi_content {
    padding-left: 15px;
    padding-right: 30px;
  }
  .element_giatricotloi_content .item .content p {
    padding-right: 30px;
  }
  .slider_banner_footer .img {
    height: 360px !important;
  }
  .element_footer .footer_item {
    width: 100% !important;
    margin-top: 15px;
  }
  .element_footer .footer_item h3, .element_footer .footer_item h4 {
    margin-bottom: 15px;
  }
  .slider_news {
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(100% - 30px);
  }
  .element_sumenh {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .element_text .text span:after {
    left: 4px;
  }
  .element_text .text {
    padding-left: 10px;
  }
}

/* 375 */
@media screen and (max-width: 570px) {
  .diamond-grid-page {
    margin: 0;
    margin-top: 15px;
    margin-bottom: -60px;
  }
  .diamond-grid-page .grid {
    grid-template: 45px 45px 45px 45px 45px/45px 45px 45px 45px 45px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .element_text {
    width: calc(100% - 30px);
    height: 77px;
    margin-left: 15px;
  }
  .element_sumenh .content_sumenh .item {
    width: calc(100% - 30px);
    height: 56px;
    margin-left: 15px;
  }

  .element_sumenh .content_sumenh .item p {
    font-size: 14px;
  }
  body, html {
    overflow: inherit;
  }
  .section_header {
    position: inherit;
    background: #0b419a;
  }
  .section_header.section_header_open .element_main_menu {
    z-index: 1000;
  }
  .section_header.section_header_fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #0b419a;
  }
  .section_header .form_search_mobi {
    background: #fff;
    border: 1px solid #fff;
  }
  .section_header .header_fixed .logo img {
    display: none;
  }
  .section_header .header_fixed .logo .img_logo {
    display: block;
  }
  .section_header .header_fixed .icon_menu p {
    color: #fff;
  }
  .section_header .header_fixed .icon_menu span {
    background: #fff;
  }
  .section_banner_slider .item .btn_hotline {
    right: 39%;
  }
  .slider_news .col-md-4 {
    padding: 0;
  }
  .slider_news:hover .slick-prev {
    left: 0;
  }
  .section_default .container_default .element_tamnhin {
    padding: 15px 0;
  }
  .title_default {
    margin: 0;
    text-align: center;
    overflow: hidden;
  }
  .title_default span {
    display: inherit;
  }
  .element_text {
    margin-top: 10px;
  }
  .section_default {
    height: auto;
    padding: 0;
  }
  .element_tamnhin {
    position: relative;    
  }
  .element_tamnhin:before {
    position: absolute;
    content: url(./../img/tamnhin.png);
    background-size: cover;
    top: 0;
    z-index: -1;
  }
  .section_default .container_default {
    position: inherit;
    top: auto;
    left: auto;
    height: auto;
    transform: inherit;
    overflow: hidden;
  }
  .section_default > img {
    display: none;
  }
  .section_default .container_default .row {
    padding: 0;
  }
  .element_sumenh .content_sumenh .title_blue {
    margin: 0;
  }
  .title_blue span {
    display: inherit;
    text-align: center;
  }
  .element_sumenh .img_sumenh {
    margin-top: 30px;
    width: calc(100% - 60px);
    margin-left: 30px;
  }
  .element_sumenh .img_sumenh .img {
    width: 100%;
  }
  .element_sumenh .img_sumenh .img:after {
    width: 30px;
    height: 30px;
    left: -15px;
    bottom: -15px;
  }
  .element_giatricotloi .title_default {
    margin-left: 0;
  }
  .element_giatricotloi {
    padding-top: 20px;
    position: relative;
    padding-bottom: 20px;
  }
  .element_giatricotloi {
    background-image: url(./../img/bgmobi.png);
    background-size: cover;
    z-index: -1;
  }
  .element_giatricotloi_content .item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  .element_giatricotloi_content .item .content {
    width: calc(100% - 130px);
    margin-top: 0;
  }
  .element_giatricotloi_content .item .content h2, .element_giatricotloi_content .item .content p {
    text-align: left;
    padding: 0;
  }
  .element_giatricotloi_content .item .img {
    margin-left: 15px;
  }
  .element_giatricotloi_content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .element_giatricotloi_content .item .content p {
    padding-right: 30px;
  }
  .slider_banner_footer .img {
    height: 195px !important;
  }
  .element_footer .footer_item {
    width: 100% !important;
    margin-top: 15px;
  }
  .element_footer .footer_item h3, .element_footer .footer_item h4 {
    margin-bottom: 15px;
  }
  .slider_news {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .element_sumenh {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .element_text .text span:after {
    left: 4px;
  }
  .element_text .text {
    padding-left: 10px;
  }
  .main {
    overflow: hidden;
  }
}