* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html, body {
  width: initial;
  height: initial;
}
/*body {
    line-height: 0;
}*/

article {
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.overlay {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.onepage-pagination {
    position: absolute;
    right: 100px;
    top: 35%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate(0 , -50%);
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #0C419A;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 15px;
  height: 15px;
  background: #F26522;
  border: 3px solid rgb(255 158 112);
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

@media only screen and (min-width: 768px) {
  .header img {width: 80%;}
  .footer {padding: 6% 20% 4%;}
}
@media only screen and (min-width: 992px) {

  .header img {width: 70%;}
  .footer {padding: 6% 20% 4%;}
}
@media only screen and (min-width: 1200px) {
  .header img {width: 50%;}
  .footer {padding: 6% 25% 4%;}
}
@media only screen and (max-width: 766px) {

}
@media only screen and (max-width: 648px) {
}
@media only screen and (max-width: 566px) {
}
@media only screen and (max-width: 460px) {
 
}
@media only screen and (max-width: 320px) {
 
}

/**/
a:hover {
    text-decoration: none;
}
.section_banner_slider {
    width: 100%;
    .item {
        width: 100%;
        height: 550px;
        overflow: hidden;
        position: relative;
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            h2 {
                color: #0C419A;
                font-size: 70px;
                text-transform: uppercase;
                font-family: UTM Colossalis;
            }
            p {
                font-family: UTM Colossalis;
                font-style: normal;
                font-weight: normal;
                font-size: 25.9798px;
                line-height: 150.49%;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #F36523;
            }
        }
        .btn_hotline {
            position: absolute;
            bottom: 30px;
            right: 35px;
            font-family: UTM Impact;
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 37px;
            letter-spacing: 0.07em;
            color: #FFFFFF;
            background: linear-gradient(90deg, #DB4500 2.87%, #FF9736 102.46%);
            border: 3px solid #FFFEFE;
            box-sizing: border-box;
            box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
            border-radius: 52px;
            img {
                max-width: 100%;
                margin-right: 10px;
                float: left;
                padding-top: 5px;
            }
        }
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .slick-prev , .slick-next {
        transition: 0.5s;
    }
    &:hover {
        .slick-prev {
            left: 170px;
            z-index: 1;
            &:before {
                font-size: 40px;
                color: #0C419A;
            }
        }
        .slick-next {
            right: 190px;
            z-index: 1;
            &:before {
                font-size: 40px;
                color: #0C419A;
            }
        }
    }
}
.slider_news {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;
    .slick-slide {
        overflow: hidden;
    }
    .slick-prev {
            transition: 0.3s;
            z-index: 1;
            opacity: 0;
            top: 31%;
            &:before {
                display: none;
            }
        }
        .slick-next {
            top: 31%;
            transition: 0.3s;
            z-index: 1;
            opacity: 0;
            &:before {
                display: none;
            }
        }
        &:hover {
            .slick-prev {
                left: 14px;
                opacity: 1;
            }
            .slick-next {
                right: 9px;
                opacity: 1;
            }
        }
    .item {
        width: 100%;
        overflow: hidden;
        z-index: 1;
        box-sizing: border-box;
        transition: 0.3s;
        &:hover {
            .content {
                >a {
                    color: #0C419A;
                }
            }
            .img_news {
                img {
                    transform: scale(1.2);
                }
            }
        }
        .img_news {
            display: block;
            height: 170px;
            overflow: hidden;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s;
            }
        }
        .content {
            padding: 10px 15px;
            background: #fff;
            .date_time {
                margin-bottom: 10px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                img {
                    max-width: 100%;
                    vertical-align: revert;
                    float: left;
                }
                span {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    position: relative;
                    padding: 0 5px;
                    color: #848484;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 1px;
                        height: 100%;
                        background: #848484;
                        transform: rotateZ(15deg);
                        right: 0px;
                        top: 0;
                    }
                    &:last-child {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            a {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 128.17%;
                display: block;
                color: #404040;
            }
            .btn_xemchitiet {
                margin-top: 15px;
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #0C419A;
                display: flex;
                flex-flow: row wrap;
                padding: 0;
                align-items: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    height: 9px;
                    margin-left: 15px;
                    transition: 0.3s;
                }
            }
            >p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150.34%;
                color: #424242;
                margin-top: 15px;
            }
        }
    }
}

.title_default {
    font-family: MTD Mirosa;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    span {
        img {
            &:first-child {
                margin-right: 25px;
            }
            &:last-child {
                margin-left: 25px;
            }
        }
    }
}

.title_blue {
    font-family: MTD Mirosa;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #0C419A;
    span {
        img {
            &:first-child {
                margin-right: 25px;
            }
            &:last-child {
                margin-left: 25px;
            }
        }
    }
}

.section_default {
    width: 100%;
    height: 100%;
    position: relative;
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container_default {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
        .row {
            width: 100%;
            height: 100%;
        }
        .element_tamnhin {
            width: 100%;
            height: 100%;
            padding: 150px 0 50px 0;
        }
    }
}

.element_text {
    width: 60%;
    background: linear-gradient(90deg, #00245E 13.1%, #013D9D 50.64%, #00245E 88.18%);
    height: 134px;
    width: 594px;
    background-image: url(./../img/khung.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #00245E 13.1%, #013D9D 50.64%, #00245E 88.18%);
        top: 0;
        left: 0;
        z-index: -1;
    }
    .text {
        padding: 30px 25px 20px 25px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        strong {
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 150.49%;
            text-align: center;
            letter-spacing: 0.07em;
            color: #FFFFFF;
            width: 45px;
        }
        span {
            font-family: UTM Davida;
            font-style: normal;
            font-weight: normal;
            font-size: 54px;
            line-height: 150.49%;
            text-align: center;
            color: #C88000;
            width: 70px;
            -webkit-text-fill-color: #C88000;
              -webkit-text-stroke-width: 2px;
              -webkit-text-stroke-color: #fff;
              text-shadow: 3px 4px 1px #001F53;
        }
        p {
            font-family: Arial;
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 150.49%;
            color: #FFFFFF;
            width: calc(100% - 130px);
            margin-bottom: 0;
            padding-left: 10px;
        }
    }
}

.element_sumenh {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .content_sumenh {
        width: 48%;
        .title_blue {
            margin-bottom: 30px;
        }
        .item {
            width: 534px;
            height: 86px;
            overflow: hidden;
            position: relative;
            p {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 149.99%;
                color: #FFFFFF;
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translate(0, -50%);
                padding-right: 25px;
            }
            &:nth-child(2) {
                background-image: url(./../img/s1.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:nth-child(3) {
                background-image: url(./../img/s2.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:nth-child(4) {
                background-image: url(./../img/s3.png);
                background-size: cover;
                background-repeat: no-repeat;
                p {
                    color: #383838;
                }
            }
            &:nth-child(5) {
                background-image: url(./../img/s4.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    .img_sumenh {
        width: 48%;
        margin-left: auto;
        .img {
            width: 85%;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: #FF820F;
                right: -30px;
                top: -30px;
                z-index: -1;
            }
            &:after {
                position: absolute;
                content: '';
                width: 60px;
                height: 60px;
                background: rgba(255, 130, 15, 0.5);
                left: -30px;
                bottom: -30px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.element_giatricotloi {
    width: 100%;
    height: 100%;
    padding: 150px 0 50px 0;
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .title_default {
        text-align: center;
    }
}
.element_giatricotloi_content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 100px;
    .item {
        width: 21%;
        margin-left: 35px;
        &:hover {
            .img {
                background: #F36523;
                .hover_img {
                    opacity: 1;
                }
            }
        }
        .img {
            position: relative;
            width: 120px;
            height: 120px;
            transform: rotateZ(45deg);
            background: #fff;
            overflow: hidden;
            margin: auto;
            box-shadow: 6px -6px 0px #00000026;
            transition: 0.5s;
            img {
                max-width: 100%;
                position: absolute;
                top: 25%;
                left: 25%;
                transform: rotateZ(-45deg);
            }
            .hover_img {
                opacity: 0;
                transition: 0.5s;
            }
        }
        .content {
            width: 100%;
            text-align: center;
            margin-top: 60px;
            h2 {
                font-family: Arial;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 150.49%;
                text-align: center;
                color: #FFFFFF;
            }
            p {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 150.49%;
                text-align: center;
                color: #003081;
            }
        }
    }
}

.slider_banner_footer.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slider_banner_footer {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    .img {
        width: 100%;
        height: 610px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .slick-dots {
        bottom: 25px;
    }
    .slick-dots li button:before {
        font-size: 15px;
    }
    .slick-dots li.slick-active button:before {
        color: #fff;
    }
    .slick-dots li button:before {
        color: #fff;
    }
    .slick-prev , .slick-next {
        transition: 0.5s;
        &:before {
            color: #0C419A;
        }
    }
    &:hover {
        .slick-prev {
            left: 170px;
            z-index: 1;
            &:before {
                font-size: 40px;
                color: #0C419A;
            }
        }
        .slick-next {
            right: 190px;
            z-index: 1;
            &:before {
                font-size: 40px;
                color: #0C419A;
            }
        }
    }
}

.element_footer {
    position: relative;
    color: #fff;
    padding-top: 15px;
    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    &:before {
        position: absolute;
        content: url(./../img/bgft.png);
        background-size: cover;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .footer_item {
        width: 32%;
        overflow: hidden;
        padding-bottom: 15px;
        &:first-child {
            margin-right: auto;
        }
        h3 , h4 {
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p {
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
        img {
            max-width: 100%;
            margin-top: 25px;
            float: left;
        }
        ul {
            padding: 0;
            list-style: none;
            li {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                a {
                    font-family: Arial;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }
        }
        &:nth-child(2) {
            ul {
                li {
                    margin: 5px 0;
                    display: flex;
                    flex-flow: row wrap;
                    &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                        width: 50%;
                        float: left;
                    }
                    span {
                        display: block;
                        width: 35px;
                        height: 30px;
                        img {
                            max-width: 100%;
                            margin-top: 0;
                        }
                    }
                    p {
                        width: calc(100% - 50px);
                        margin: 0;
                    }
                }
            }
            >p {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;
                a {
                    margin-right: 15px;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        &:nth-child(3) {
            ul {
                li {
                    position: relative;
                    padding-left: 25px;
                    margin: 10px 0;
                    transition: 0.5s;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 5px;
                        height: 5px;
                        border-top: 1px solid #fff;
                        border-right: 1px solid #fff;
                        transform: rotateZ(45deg);
                        left: 0;
                        top: 50%;
                        transform: translate(-50, 0);
                        transition: 0.5s;
                    }
                    a {

                    }
                    &:hover {
                        padding-left: 30px;
                        &:before {
                            left: 10px;
                        }
                    }
                }
            }
            .btn_download_footer {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 18px;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 35px;
                float: left;
                display: flex;
                flex-flow: row wrap;
                width: 140px;
                padding-top: 8px;
                padding-bottom: 8px;
                margin-top: 15px;
                img {
                    max-width: 100%;
                    margin-top: 0;
                    margin-left: 20px;
                }
            }
        }
    }
}

.copyrighter {
    width: 100%;
    border-top: 1px solid #3C6BBA;
    padding: 15px 0;
    p {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 0;
    }
}

.icon_allpage {
    position: fixed;
    right: 80px;
    bottom: 50px;
    display: grid;
    text-align: center;
    z-index: 1;
    a{
        margin: 10px 0;
        img {
            animation: phone-ring 1.5s infinite;
        }
    }
} 
@-webkit-keyframes phone-ring {
  0% {
      transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
      transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
      transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
      transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
      transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
      transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
      transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@-moz-keyframes phone-ring {
  0% {
      transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
      transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
      transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
      transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
      transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
      transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
      transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@keyframes phone-ring {
  0% {
      transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
      transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
      transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
      transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
      transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
      transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
      transform: rotate(0deg) scale(1) skew(1deg);
  }
}
.circle {
    border-radius:50%;
    background-color:transparent;
    transition: height .25s ease, width .25s ease;
    transform:translate(0%,-50%);
    z-index: 6;
    &:before{
        content:'';
        display:block;
        position:absolute;
        top:0px;
        right:0px;
        bottom:0;
        left:0px;
        border-radius:50%;
        border:1px solid #ffffff50; 
        background: #ffffff30;
        z-index: -1;
    }
    &:after {
        content:'';
        display:block;
        position:absolute;
        top:0; right:0; bottom:0; left:0;
        border-radius:50%;
        border:1px solid #ffffff50; 
        background: #ffffff30;
        z-index: -1;
    }

    &:before {
        animation: ripple 2.5s linear infinite;
    }

    &:after {
        animation: ripple 2s linear 1s infinite;
    }
}
@keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(1.1); opacity:1;}
    100% {transform:scale(1.5); opacity:0;}
}

.section_header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    .element_main_menu {
        opacity: 0;
    }
    .header_fixed {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 15px 0;
        align-items: center;
        .logo {
            margin-left: 375px;
            img {
                max-width: 100%;
            }
            .img_logo {
                display: none;
            }
        }
        .icon_menu {
            margin-right: 90px;
            width: 40px;
            height: 35px;
            &:hover {
                cursor: pointer;
            }
            p{
                margin: 0;
                font-family: Arial;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #0C419A;
                text-transform: uppercase;
            }
            span {
                display: block;
                width: 100%;
                height: 3px;
                background: #0C419A;
                margin: 5px 0;
            }
        }
    }
}
.element_main_menu {
    width: 50%;
    .main_menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        list-style: none;
        width: 100%;
        margin: 0;
        >li {
            width: auto;
            position: relative;
            &:hover {
                .submenu {
                    visibility: visible;
                    z-index: 999;
                    opacity: 1;
                }
            }
            .submenu {
                width: 200px;
                padding: 15px;
                position: absolute;
                background: #fff;
                bottom: -140px;
                left: -30px;
                visibility: hidden;
                z-index: -999;
                transition: 0.3s;
                opacity: 0;
                .submenu_main {
                    padding: 0;
                    list-style: none;
                }

            }
            >a {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                padding: 36px 0;
            }
        }
        .li_search {
            .submenu {
                bottom: -60px;
                width: 300px;
                left: -275px;
                padding: 5px 0;
                overflow: hidden;
                .search_header {
                    height: 40px;
                    width: 100%;
                    position: relative;
                    input {
                        width: 100%;
                        height: 100%;
                        padding-left: 15px;
                        border: none;
                        &:focus {
                            outline: 0;
                            &::placeholder {
                                color: transparent;
                            }
                        }
                        &::placeholder {
                            color: #000;
                            font-family: Arial;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                    .btn_search {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translate(0, -50%);
                        img {
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }
}

.section_header.section_header_open {
    background: #0C419A;
    .element_main_menu {
        opacity: 1;
    }
    .logo {
        img {
            display: none;
        }
        .img_logo {
            display: block;
        }
    }
    .icon_menu {
        p {
            color: #fff;
        }
        span {
            background: #fff;
        }
    }
}

.diamond-grid-page {
    margin-top: -150px;
    margin-left: 100px;
    .grid {
        display: grid;
        width:100%;
        grid-template: 150px 150px 150px 150px 150px / 150px 150px 150px 150px 150px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        transform: rotate(45deg);
        .default {
            position: relative;
            border-radius: 5px;
            &:nth-child(1) {
                grid-column: 5/4;
                grid-row: 4/5;
                overflow: hidden;
            }
            &:nth-child(2) {
                grid-column: 4/6;
                grid-row: 1/3;
                overflow: hidden;
            }
            &:nth-child(3) {
                grid-column: 3/3;
                grid-row: 4/5;
                overflow: hidden;
                margin: 0;
            }
            &:nth-child(4) {
                grid-column: 4/span 1;
                grid-row: 3/span 1;
                overflow: hidden;
            }
            &:nth-child(5) {
                grid-column: 3/4;
                grid-row: 5/6;
                overflow: hidden;
            }
            &:nth-child(6) {
                grid-column: 5/6;
                grid-row: 3/4;
                overflow: hidden;
            }
            .img-over {
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: scale(1.5);
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: rotate(-45deg);
                }
            }
            div {
                background-size: cover;
                background-position: center;
                width:200%;height:200%;
                margin-top:-35%;
                margin-left: -50%;
                transform: rotate(-45deg);
            }
        }
    }
}

