body {
  line-height: 0;
}

@media screen and (min-width: 570px) {
  * {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }

  html, body {
    width: initial;
    height: initial;
  }

  body {
    line-height: 0;
  }

  article {
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  body, html {
    margin: 0;
    overflow: hidden;
    transition: opacity 400ms;
  }

  body, .onepage-wrapper, html {
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .onepage-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    -webkit-transform-style: preserve-3d;
  }

  .onepage-wrapper .section {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .onepage-pagination {
    position: absolute;
    right: 100px;
    top: 35%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate(0, -50%);
  }

  .onepage-pagination li {
    padding: 0;
    text-align: center;
  }

  .onepage-pagination li a {
    padding: 10px;
    width: 4px;
    height: 4px;
    display: block;
  }

  .onepage-pagination li a:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #0C419A;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }

  .onepage-pagination li a.active:before {
    width: 15px;
    height: 15px;
    background: #F26522;
    border: 3px solid #ff9e70;
    margin-top: -4px;
    left: 8px;
  }

  .disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
    overflow: auto;
  }

  .disabled-onepage-scroll .onepage-wrapper .section {
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }

  .disabled-onepage-scroll .onepage-wrapper {
    transform: none !important;
    -ms-transform: none !important;
    min-height: 100%;
  }

  .disabled-onepage-scroll .onepage-pagination {
    display: none;
  }

  body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
    position: inherit;
  }
}
@media only screen and (min-width: 768px) {
  .header img {
    width: 80%;
  }

  .footer {
    padding: 6% 20% 4%;
  }
}
@media only screen and (min-width: 992px) {
  .header img {
    width: 70%;
  }

  .footer {
    padding: 6% 20% 4%;
  }
}
@media only screen and (min-width: 1200px) {
  .header img {
    width: 50%;
  }

  .footer {
    padding: 6% 25% 4%;
  }
}
/**/
a:hover {
  text-decoration: none;
}

.section_banner_slider {
  width: 100%;
}
.section_banner_slider .item {
  width: 100%;
  height: 580px;
  overflow: hidden;
  position: relative;
}
.section_banner_slider .item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.section_banner_slider .item .content h2 {
  color: #0C419A;
  font-size: 70px;
  text-transform: uppercase;
  font-family: UTM Colossalis;
}
.section_banner_slider .item .content p {
  font-family: UTM Colossalis;
  font-style: normal;
  font-weight: normal;
  font-size: 25.9798px;
  line-height: 150.49%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F36523;
}
.section_banner_slider .item .btn_hotline {
  position: absolute;
  bottom: 30px;
  right: 35px;
  font-family: UTM Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  background: linear-gradient(90deg, #DB4500 2.87%, #FF9736 102.46%);
  border: 3px solid #FFFEFE;
  box-sizing: border-box;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 52px;
}
.section_banner_slider .item .btn_hotline img {
  max-width: 100%;
  margin-right: 10px;
  float: left;
  padding-top: 5px;
}
.section_banner_slider .item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_banner_slider .slick-prev, .section_banner_slider .slick-next {
  transition: 0.5s;
}
.section_banner_slider:hover .slick-prev {
  left: 170px;
  z-index: 1;
}
.section_banner_slider:hover .slick-prev:before {
  font-size: 40px;
  color: #0C419A;
}
.section_banner_slider:hover .slick-next {
  right: 190px;
  z-index: 1;
}
.section_banner_slider:hover .slick-next:before {
  font-size: 40px;
  color: #0C419A;
}

.slider_news {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.slider_news .slick-slide {
  overflow: hidden;
}
.slider_news .slick-prev {
  transition: 0.3s;
  z-index: 1;
  opacity: 0;
  top: 31%;
}
.slider_news .slick-prev:before {
  display: none;
}
.slider_news .slick-next {
  top: 31%;
  transition: 0.3s;
  z-index: 1;
  opacity: 0;
}
.slider_news .slick-next:before {
  display: none;
}
.slider_news:hover .slick-prev {
  left: 14px;
  opacity: 1;
}
.slider_news:hover .slick-next {
  right: 9px;
  opacity: 1;
}
.slider_news .item {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  transition: 0.3s;
}
.slider_news .item:hover .content > a {
  color: #0C419A;
}
.slider_news .item:hover .img_news img {
  transform: scale(1.2);
}
.slider_news .item .img_news {
  display: block;
  height: 170px;
  overflow: hidden;
  width: 100%;
}
.slider_news .item .img_news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.slider_news .item .content {
  padding: 10px 15px;
  background: #fff;
}
.slider_news .item .content .date_time {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.slider_news .item .content .date_time img {
  max-width: 100%;
  vertical-align: revert;
  float: left;
}
.slider_news .item .content .date_time span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  position: relative;
  padding: 0 5px;
  color: #848484;
}
.slider_news .item .content .date_time span:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background: #848484;
  transform: rotateZ(15deg);
  right: 0px;
  top: 0;
}
.slider_news .item .content .date_time span:last-child:before {
  display: none;
}
.slider_news .item .content a {
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 128.17%;
  display: block;
  color: #404040;
}
.slider_news .item .content .btn_xemchitiet {
  margin-top: 15px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #0C419A;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  align-items: center;
}
.slider_news .item .content .btn_xemchitiet img {
  max-width: 100%;
  max-height: 100%;
  height: 9px;
  margin-left: 15px;
  transition: 0.3s;
}
.slider_news .item .content > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.34%;
  color: #424242;
  margin-top: 15px;
}

.title_default {
  font-family: MTD Mirosa;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  margin-left: 35px;
}
.title_default span img:first-child {
  margin-right: 20px;
}
.title_default span img:last-child {
  margin-left: 20px;
}

.title_blue {
  font-family: MTD Mirosa;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  color: #0C419A;
}
.title_blue span img:first-child {
  margin-right: 25px;
}
.title_blue span img:last-child {
  margin-left: 25px;
}

.section_default {
  width: 100%;
  height: 100%;
  position: relative;
}
.section_default > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_default .container_default {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.section_default .container_default .row {
  width: 100%;
  height: 100%;
}
.section_default .container_default .element_tamnhin {
  width: 100%;
  height: 100%;
  padding: 150px 0 50px 0;
}

.element_text {
  width: 60%;
  background: linear-gradient(90deg, #00245E 13.1%, #013D9D 50.64%, #00245E 88.18%);
  height: 134px;
  width: 594px;
  background-image: url(./../img/khung.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 40px;
}
.element_text:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #00245E 13.1%, #013D9D 50.64%, #00245E 88.18%);
  top: 0;
  left: 0;
  z-index: -1;
}
.element_text .text {
  padding: 30px 25px 20px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.element_text .text strong {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150.49%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  width: 45px;
}
.element_text .text span {
  position: relative;
  font-family: UTM Davida;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 150.49%;
  /* or 81px */
  text-align: center;
  color: #C88000;
  z-index: 0;
  /*&:before {
    content: attr(title);
      position: absolute;
      -webkit-text-stroke: 0.2em #fff; 
        left: 0;
      z-index: -1;
  }*/
}
.element_text .text span:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.2em #fff;
  left: 0;
  z-index: -2;
}
.element_text .text p {
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 150.49%;
  color: #FFFFFF;
  width: calc(100% - 130px);
  margin-bottom: 0;
  padding-left: 10px;
}

.element_sumenh {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.element_sumenh .content_sumenh {
  width: 48%;
}
.element_sumenh .content_sumenh .title_blue {
  margin-bottom: 30px;
}
.element_sumenh .content_sumenh .item {
  width: 534px;
  height: 86px;
  overflow: hidden;
  position: relative;
}
.element_sumenh .content_sumenh .item p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.99%;
  color: #FFFFFF;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  padding-right: 25px;
}
.element_sumenh .content_sumenh .item:nth-child(2) {
  background-image: url(./../img/s1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.element_sumenh .content_sumenh .item:nth-child(3) {
  background-image: url(./../img/s2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.element_sumenh .content_sumenh .item:nth-child(4) {
  background-image: url(./../img/s3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.element_sumenh .content_sumenh .item:nth-child(4) p {
  color: #383838;
}
.element_sumenh .content_sumenh .item:nth-child(5) {
  background-image: url(./../img/s4.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.element_sumenh .img_sumenh {
  width: 48%;
  margin-left: auto;
}
.element_sumenh .img_sumenh .img {
  width: 85%;
  position: relative;
}
.element_sumenh .img_sumenh .img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #FF820F;
  right: -15px;
  top: -15px;
  z-index: -1;
}
.element_sumenh .img_sumenh .img:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background: rgba(255, 130, 15, 0.5);
  left: -30px;
  bottom: -30px;
}
.element_sumenh .img_sumenh .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.element_giatricotloi {
  width: 100%;
  height: 100%;
  padding: 150px 0 50px 0;
}
.element_giatricotloi > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.element_giatricotloi .title_default {
  text-align: center;
  margin-left: 170px;
}

.element_giatricotloi_content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-top: 100px;
}
.element_giatricotloi_content .item {
  width: 21%;
}
.element_giatricotloi_content .item:hover .img {
  background: #F36523;
}
.element_giatricotloi_content .item:hover .img .hover_img {
  opacity: 1;
}
.element_giatricotloi_content .item .img {
  position: relative;
  width: 120px;
  height: 120px;
  transform: rotateZ(45deg);
  background: #fff;
  overflow: hidden;
  margin: auto;
  box-shadow: 6px -6px 0px #00000026;
  transition: 0.5s;
}
.element_giatricotloi_content .item .img img {
  max-width: 100%;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: rotateZ(-45deg);
}
.element_giatricotloi_content .item .img .hover_img {
  opacity: 0;
  transition: 0.5s;
}
.element_giatricotloi_content .item .content {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.element_giatricotloi_content .item .content h2 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150.49%;
  text-align: center;
  color: #FFFFFF;
}
.element_giatricotloi_content .item .content p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150.49%;
  text-align: center;
  color: #003081;
  padding: 0 15px;
}

.slider_banner_footer.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider_banner_footer {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}
.slider_banner_footer .img {
  width: 100%;
  height: 610px;
  overflow: hidden;
}
.slider_banner_footer .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_banner_footer .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slider_banner_footer .slick-dots {
  bottom: 25px;
}
.slider_banner_footer .slick-dots li button:before {
  font-size: 15px;
}
.slider_banner_footer .slick-dots li.slick-active button:before {
  color: #fff;
}
.slider_banner_footer .slick-dots li button:before {
  color: #fff;
}
.slider_banner_footer .slick-prev, .slider_banner_footer .slick-next {
  transition: 0.5s;
}
.slider_banner_footer .slick-prev:before, .slider_banner_footer .slick-next:before {
  color: #0C419A;
}
.slider_banner_footer:hover .slick-prev {
  left: 170px;
  z-index: 1;
}
.slider_banner_footer:hover .slick-prev:before {
  font-size: 40px;
  color: #0C419A;
}
.slider_banner_footer:hover .slick-next {
  right: 190px;
  z-index: 1;
}
.slider_banner_footer:hover .slick-next:before {
  font-size: 40px;
  color: #0C419A;
}

.element_footer {
  position: relative;
  color: #fff;
  padding-top: 15px;
}
.element_footer .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.element_footer:before {
  position: absolute;
  content: url(./../img/bgft.png);
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}
.element_footer .footer_item {
  overflow: hidden;
  padding-bottom: 15px;
}
.element_footer .footer_item:first-child {
  width: 23%;
}
.element_footer .footer_item h3, .element_footer .footer_item h4 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.element_footer .footer_item p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
.element_footer .footer_item img {
  max-width: 100%;
  margin-top: 25px;
  float: left;
}
.element_footer .footer_item ul {
  padding: 0;
  list-style: none;
}
.element_footer .footer_item ul li {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.element_footer .footer_item ul li a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.element_footer .footer_item:nth-child(2) {
  width: 30%;
}
.element_footer .footer_item:nth-child(2) ul li {
  margin: 5px 0;
  display: flex;
  flex-flow: row wrap;
}
.element_footer .footer_item:nth-child(2) ul li:nth-child(2), .element_footer .footer_item:nth-child(2) ul li:nth-child(3), .element_footer .footer_item:nth-child(2) ul li:nth-child(4), .element_footer .footer_item:nth-child(2) ul li:nth-child(5) {
  width: 50%;
  float: left;
}
.element_footer .footer_item:nth-child(2) ul li span {
  display: block;
  width: 35px;
  height: 30px;
}
.element_footer .footer_item:nth-child(2) ul li span img {
  max-width: 100%;
  margin-top: 0;
}
.element_footer .footer_item:nth-child(2) ul li p {
  width: calc(100% - 50px);
  margin: 0;
}
.element_footer .footer_item:nth-child(2) > p {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.element_footer .footer_item:nth-child(2) > p a {
  margin-right: 15px;
}
.element_footer .footer_item:nth-child(2) > p a img {
  max-width: 100%;
}
.element_footer .footer_item:nth-child(3) {
  width: 30%;
}
.element_footer .footer_item:nth-child(3) ul li {
  position: relative;
  padding-left: 25px;
  margin: 10px 0;
  transition: 0.5s;
}
.element_footer .footer_item:nth-child(3) ul li:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotateZ(45deg);
  left: 0;
  top: 50%;
  transform: translate(-50, 0);
  transition: 0.5s;
}
.element_footer .footer_item:nth-child(3) ul li:hover {
  padding-left: 30px;
}
.element_footer .footer_item:nth-child(3) ul li:hover:before {
  left: 10px;
}
.element_footer .footer_item:nth-child(3) .btn_download_footer {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 35px;
  float: left;
  display: flex;
  flex-flow: row wrap;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15px;
}
.element_footer .footer_item:nth-child(3) .btn_download_footer img {
  max-width: 100%;
  margin-top: 0;
  margin-left: 20px;
}

.copyrighter {
  width: 100%;
  border-top: 1px solid #3C6BBA;
  padding: 15px 0;
}
.copyrighter p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
}

.icon_allpage {
  position: fixed;
  right: 80px;
  bottom: 50px;
  display: grid;
  text-align: center;
  z-index: 1;
}
.icon_allpage a {
  margin: 10px 0;
}
.icon_allpage a img {
  animation: phone-ring 1.5s infinite;
}
@keyframes phone-ring {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
.circle {
  border-radius: 50%;
  background-color: transparent;
  transition: height 0.25s ease, width 0.25s ease;
  transform: translate(0%, -50%);
  z-index: 6;
}
.circle:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0;
  left: 0px;
  border-radius: 50%;
  border: 1px solid #ffffff50;
  background: #ffffff30;
  z-index: -1;
}
.circle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #ffffff50;
  background: #ffffff30;
  z-index: -1;
}
.circle:before {
  animation: ripple 2.5s linear infinite;
}
.circle:after {
  animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.section_header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.section_header .element_main_menu {
  opacity: 0;
}
.section_header .header_fixed {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.section_header .header_fixed .logo {
  margin-left: 375px;
}
.section_header .header_fixed .logo img {
  max-width: 100%;
}
.section_header .header_fixed .logo .img_logo {
  display: none;
}
.section_header .header_fixed .icon_menu {
  margin-right: 90px;
  width: 40px;
  height: 35px;
}
.section_header .header_fixed .icon_menu:hover {
  cursor: pointer;
}
.section_header .header_fixed .icon_menu p {
  margin: 0;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #0C419A;
  text-transform: uppercase;
}
.section_header .header_fixed .icon_menu span {
  display: block;
  width: 100%;
  height: 3px;
  background: #0C419A;
  margin: 5px 0;
}

.element_main_menu {
  width: 50%;
}
.element_main_menu .main_menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0;
}
.element_main_menu .main_menu > li {
  width: auto;
  position: relative;
}
.element_main_menu .main_menu > li:hover .submenu {
  visibility: visible;
  z-index: 999;
  opacity: 1;
}
.element_main_menu .main_menu > li .submenu {
  width: 200px;
  padding: 15px;
  position: absolute;
  background: #fff;
  bottom: -140px;
  left: -30px;
  visibility: hidden;
  z-index: -999;
  transition: 0.3s;
  opacity: 0;
}
.element_main_menu .main_menu > li .submenu .submenu_main {
  padding: 0;
  list-style: none;
}
.element_main_menu .main_menu > li > a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 36px 0;
}
.element_main_menu .main_menu .li_search .submenu {
  bottom: -60px;
  width: 300px;
  left: -275px;
  padding: 5px 0;
  overflow: hidden;
}
.element_main_menu .main_menu .li_search .submenu .search_header {
  height: 40px;
  width: 100%;
  position: relative;
}
.element_main_menu .main_menu .li_search .submenu .search_header input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: none;
}
.element_main_menu .main_menu .li_search .submenu .search_header input:focus {
  outline: 0;
}
.element_main_menu .main_menu .li_search .submenu .search_header input:focus::placeholder {
  color: transparent;
}
.element_main_menu .main_menu .li_search .submenu .search_header input::placeholder {
  color: #000;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.element_main_menu .main_menu .li_search .submenu .search_header .btn_search {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
}
.element_main_menu .main_menu .li_search .submenu .search_header .btn_search img {
  filter: invert(1);
}

.section_header.section_header_open {
  background: #0C419A;
}
.section_header.section_header_open .element_main_menu {
  opacity: 1;
}
.section_header.section_header_open .logo img {
  display: none;
}
.section_header.section_header_open .logo .img_logo {
  display: block;
}
.section_header.section_header_open .icon_menu p {
  color: #fff;
}
.section_header.section_header_open .icon_menu span {
  background: #fff;
}

.diamond-grid-page {
  margin-top: -150px;
  margin-left: 100px;
}
.diamond-grid-page .grid {
  display: grid;
  width: 100%;
  grid-template: 150px 150px 150px 150px 150px/150px 150px 150px 150px 150px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  transform: rotate(45deg);
}
.diamond-grid-page .grid .default {
  position: relative;
  border-radius: 5px;
}
.diamond-grid-page .grid .default:nth-child(1) {
  grid-column: 5/4;
  grid-row: 4/5;
  overflow: hidden;
}
.diamond-grid-page .grid .default:nth-child(2) {
  grid-column: 4/6;
  grid-row: 1/3;
  overflow: hidden;
}
.diamond-grid-page .grid .default:nth-child(3) {
  grid-column: 3/3;
  grid-row: 4/5;
  overflow: hidden;
  margin: 0;
}
.diamond-grid-page .grid .default:nth-child(4) {
  grid-column: 4/span 1;
  grid-row: 3/span 1;
  overflow: hidden;
}
.diamond-grid-page .grid .default:nth-child(5) {
  grid-column: 3/4;
  grid-row: 5/6;
  overflow: hidden;
}
.diamond-grid-page .grid .default:nth-child(6) {
  grid-column: 5/6;
  grid-row: 3/4;
  overflow: hidden;
}
.diamond-grid-page .grid .default .img-over {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}
.diamond-grid-page .grid .default .img-over a {
  display: block;
  width: 100%;
  height: 100%;
}
.diamond-grid-page .grid .default .img-over img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg);
}
.diamond-grid-page .grid .default div {
  background-size: cover;
  background-position: center;
  width: 200%;
  height: 200%;
  margin-top: -35%;
  margin-left: -50%;
  transform: rotate(-45deg);
}

.header_fixed.change_color .logo img {
  display: none;
}
.header_fixed.change_color .logo .img_logo {
  display: block;
}
.header_fixed.change_color .icon_menu p {
  color: #fff;
}
.header_fixed.change_color .icon_menu span {
  background: #fff;
}